

.App{
 min-height: 100vh;
 display: flex;
 flex-direction: column;
 justify-content: space-between;

}



.Not{
  margin-top: 7rem;
  height: 100%;
  min-height: 100vh;
}


.app-light{
  background-color: #ffffff;
  color: #000000; 
}

.app-dark{
  background-color: #2c2f34;
  color: #ffffff; 
}

